.custom-container {
  padding: 20px 150px;
  justify-content: center;
}
.custom-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form-label {
  font-weight: bold;
}

.customs-btn-primary {
  background-color: #007bff;
  color: #fff;
  width: 30%;
}

.custom-fa-icon {
  margin-right: 10px;
  color: #007bff;
}


/* responsive */


@media screen and (max-width: 991px){
  .custom-container {
    padding: 10px 40px 10px;
  }
  .custom-card {
    padding: 10px;
    border: unset;
  }
}

@media screen and (max-width: 768px) {
  .custom-container {
    display: flex;
    justify-content: center;
    padding: 10px 30px 10px;
  }
  .custom-card {
    padding: 10px;
  }
  #custom-card-body{
    padding-bottom: 30px;
  }
  
  .custom-card h2 {
    font-size: 1.5rem;
  }
  
  .custom-card input,
  .custom-card textarea {
    width: 100%;
  }
  
  .customs-btn-primary{
    display: flex;
    justify-content: center;
    width: 30%;
  }
  .custom-primary-btn {
    display: flex;
    justify-content: center;
  }
}
