/* Homepage */
/* First Section */

.mainSection {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}
/* .toggleButtonSeeMore{
  border-style: none;
  color: #0d6efd;
  background: none;
} */
.section1 {
  padding-top: 40px;
  padding-bottom: 50px;
  /* height: 100vh; */
}
.section2 {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  /* margin-top: 180px; */
  /* margin-bottom: 12%; */
}

.container-sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: unset;
  padding-top: 5%;
  padding-bottom: 5%;
}
.section h1 {
  font-size: 2rem;
}
.Section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contentBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentBox h1 {
  font-size: 3.8rem;
  font-weight: 600;
}

.viewMore {
  font-size: 1rem;
  text-decoration: none;
}
.imgContainer {
  width: 40%;
}
.btnBox {
  width: 100%;
  margin-top: 3em;
}
.underline {
  height: 04px;
  width: 4rem;
  background-color: rgb(11, 157, 214);
  margin-top: 10px;
  margin-bottom: 10px;
}
.service {
  text-align: center;
  color: rgb(11, 157, 214);
  font-size: 25px;
  font-weight: 500;
}
.card-body h4 {
  color: rgb(11, 157, 214);
}
.sec-p h5 {
  color: rgb(11, 157, 214);
  padding-top: 5%;
  padding-bottom: 2%;
}

/* CSS */
.toggleButtonSeeMore,
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 14vw;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.container-home {
  text-align: center;
}
.container-home1 {
  text-align: center;
}
.sec-p {
  width: 40%;
}

.card-container-ni-karen {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-container-ni-karen div {
  margin: 0.3em;
}

.img {
  transition: 1s ease;
}

.img:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.3s ease;
}

.title {
  color: rgb(11, 157, 214);
}
#service h1 {
  padding-bottom: 5%;
}
.row-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start testimonials */
.testimonials {
  padding: 40px 0;
  background: #fff;
  color: #434343;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.border {
  width: 100px;
  height: 8px;
  background: rgb(11, 157, 214);
  margin: 26px auto;
}
.rowls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #faaf00;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.stars .fa-star {
  width: 30px !important;
}
#container-nemiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: unset;
  padding-top: 5%;
  padding-bottom: 5%;
}

.carousel-colCol {
  max-width: unset;
}
.carousel-parah {
  padding-left: 30%;
  padding-right: 30%;
}
/* .carousel-indicators{
  margin-left: unset;
} */
.carousel-indicators [data-bs-target] {
  background-color: #343a40;
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}

/* laptop's */

@media screen and (max-width: 1200px) {
  /* *, ::after, ::before {
    width: 100%;
    box-sizing: border-box;
  } */
}

/* tablet's */
@media screen and (max-width: 991px) {
  #first-title {
    font-size: 2.5em;
  }
  .mainSection {
    justify-content: space-evenly;
  }
  .firstImage {
    width: 140% !important;
  }
  .section2 {
    margin-top: 0px;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .mainSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: fit-content;
    height: unset;
  }
  #first-title {
    padding-top: 13%;
    font-size: 1.5em;
  }
  .contentBox-v {
    width: 75%;
  }
  .service {
    text-align: center;
    color: rgb(11, 157, 214);
    font-size: 18px;
    font-weight: 1;
  }
  #viewmore-btn {
    width: 40%;
    font-size: 13px;
  }
  #firstParah {
    padding-top: 5%;
    margin-bottom: 0;
    text-align: justify;
  }
  .firstImage {
    width: 100% !important;
  }
  .imgContainer {
    width: 50%;
    padding-top: 5%;
    padding-bottom: 4%;
  }
  .section1 {
    height: unset;
    padding: 10px 30px 0px;
    padding-bottom: 20px;
  }
  .service {
    padding-top: 3%;
    color: rgb(11, 157, 214);
    font-size: 17px;
    font-weight: 500;
  }
  .card-container-ni-karen {
    flex-direction: column;
    padding: 10px 30px 0px;
  }
  .section2 {
    height: unset;
    margin-bottom: unset;
  }
  .description-section2 {
    text-align: justify;
  }
  .toggleButtonSeeMore {
    width: 40%;
    font-size: 14px;
  }
  #btn-viewmore {
    width: 40%;
    font-size: 14px;
  }
  .forPaddingBot {
    padding-bottom: 10%;
  }
  .our-serviceSec3 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .container-sec3 {
    height: unset;
    padding: 10px 40px 0px;
    text-align: justify;
  }
  .secondBox-sec4 {
    width: 90%;
  }
  #container-nemiz {
    height: unset;
    padding-top: 5%;
    padding: 10px 30px 15px;
  }
  .carousel-parah {
    padding-left: unset;
    padding-right: unset;
    text-align: justify;
  }
}
