.container {
  height: 60vh;
}
.container h2 {
  color: black;
}
.iconbox-icon {
  margin-bottom: 10%;
}
.col-md-4 h5 {
  color: rgb(11, 157, 214);
}
.heading {
  padding-top: 5%;
}
.section {
  height: 130vh;
}
.section p {
  padding-bottom: 2%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-container div {
  margin: 0.3em;
}

.img {
  transition: 1s ease;
}

.img:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.3s ease;
}
.card-body h6 {
  color: rgb(11, 157, 214);
}
.orderNow {
  text-decoration: none;
}

#orderNow {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
  width: 8vw;
}

#oderNow:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#orderNow:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#orderNow:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
