/* .container {
  height: 60vh;
} */
.container h2 {
  color: black;
}
.iconbox-icon {
  margin-bottom: 10%;
}
.col-md-4 h5 {
  color: rgb(11, 157, 214);
}
/* .heading {
  padding-top: 5%;
} */
/* .section {
  height: 130vh;
} */

#secret{
  padding-top:3%;
  padding-bottom:6%;
}
.section p {
  padding-bottom: 2%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-container div {
  margin: 0.3em;
}

.img {
  transition: 1s ease;
}

.img:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.3s ease;
}
.card-body h6 {
  color: rgb(11, 157, 214);
}
.orderNow {
  text-decoration: none;
}

#orderNow {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
  width: 8vw;
}

#oderNow:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#orderNow:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#orderNow:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
#icon-btn {
  width: 12%;
}
.underline {
  height: 04px;
  width: 4rem;
  background-color: rgb(11, 157, 214);
  margin-top: 10px;
  margin-bottom: 10px;
}
#price-container .title {
  padding-top: 3%;
}
/* #kalma{
padding-top: 5%;
padding-bottom: 5%;
margin-left: 7%;
margin-right: 7%; 
} */


/* laptop's */
@media only screen and (max-width: 1200px) {
  .container-A {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container-A .row {
    width: 100%;
    display: flex;
  }
  .section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* tablet's */
@media only screen and (max-width: 1024px) {
  .container-A {
    width: 100%;
    display: flex;
    /* margin-bottom: 25% */
  }
  .container-A .row {
    flex-wrap: wrap;
  }
  .container-A .col-md-4{
    width: 50%;
    padding: 1.5rem;
  }
  .container-A .run {
    margin-left: 25%;
  }
  .section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40%;
  }
  .section-1 .card-container{
    display: flex;
    flex-wrap: wrap;  
  }
  .section-1 .col-md-3 {
   width: 40%;
  }
}

/* mobile's */
@media only screen and (max-width: 768px) {
body{
    overflow: unset !important;
}
  .container-A{
    padding-top: 20px;
  }
  .container-A .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-A .run {
      margin-left: -2%;
  }
  .section-c {
    width: 100%;
    display: flex;
    justify-content: center;
   
  }
  .section-c .card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-c .card-container .col-md-3 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
   }
   .section-c .card-container .img-1 {
    display: block;
   }
   .section-1 .card-container #orderNow {
    display: flex;
    width: 20%;
    margin-left: 40%;
   }
   #orderNow {
    width: 40%;
    font-size: 14px;
   }
   #langga{
    font-size: 10px;
   }
   /* #secret{
    padding-bottom: 150%;
   } */
   .container-A .col-md-4{
    width: unset;
    padding: 10px 40px 0px;
   }
   .service-parag {
    text-align: justify;
   }
   #icon-btn {
    width: unset;
  }
}
