/* login Css */
.login-text{
    font-size: 2em;
    color: rgba(27, 27, 27);
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 40px 0px;
    /* width: 270px; */
    border-bottom: 1px solid rgba(27, 27, 27);
}
.inputbox .labelLabel{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: rgba(27, 27, 27);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.inputInput:focus ~ label,
.inputInput:valid ~ label{
    top: -10px;
    color: #0d6efd;
}
.inputbox .inputInput {
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgba(27, 27, 27);
}
.buttonButton{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    /* background: #fff; */
    background-image: radial-gradient( 100% 100% at 100% 0, #5adaff 0, #5468ff 100% );
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 10%;
}
.span-eye{
    position: absolute;
    right: 15px;
    transform: translate(0,-50%);
    top: 50%;
    cursor: pointer;
} 
.logo-laundry{
    width: 50%;
}
.logo-login{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.sec1-login{
    display: flex;
}

.sec-boxLogin{
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}
.form-wrapper{
    max-width: 670px;
    margin: 0 auto;
    
}
.form-container{
    display: flex;
    align-items: stretch;
    color: rgba(27, 27, 27);
    box-shadow: 1px 1px 10px 2px rgb(27 27 27);
   
}
.form-value{
    padding: 0px 30px 30px 30px;
}
.form-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url("images/bubbles.gif"); */
    background-image: radial-gradient( 100% 100% at 100% 0, #5adaff 0, #5468ff 100% );
    width:50%;
}
.social-login{
    background: white;
}
.form-right{
    width:50%;
}
.form-account{
    display: flex;  
    justify-content: center;
    font-size: .9em;
}
.p-acc{
    margin-top: 8px;
}
.link-acc{
    padding-left: 2px;
}
.fullName{
    display: flex;
}
.address, .munCon{
    display: flex;
}
.fn1, .prk1, .muncplty1{
    margin-right: 10px !important;
}
.ln2, .brgy2, .contct2{
    margin-left: 10px !important;
}
.sizeLabel{
    font-size: .95em !important;
}
.textLorem{
    text-align: center;
    font-size: small;
    margin-top: 2px;
}
.formValue-reg{
    padding-bottom: 15px !important;
}



/* responsive */

@media screen and (max-width: 768px) {
    
    .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    }
    .sec-boxLogin{
        background-size: cover;
        height: unset;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
    }
    .form-left{
        width: unset;
    }
    .form-right{
        width: unset;
    }
}